---
interface SliderProps {
  imageUrl: string;
  link: string;
}

const SLIDERS: SliderProps[] = [
  {
    imageUrl: '/slider-home/1-banner.webp',
    link: '/shop'
  },
  {
    imageUrl: '/slider-home/2-banner.webp',
    link: '/shop'
  },
  {
    imageUrl: '/slider-home/3-banner.webp',
    link: '/shop'
  }
];
---

<section class="max-w-screen-xl mx-4 md:mx-auto rounded-xl overflow-hidden">
  <div class="swiper mainSwiper">
    <div class="swiper-wrapper">
      {
        SLIDERS.map((slider) => (
          <div class="swiper-slide">
            <img src={slider.imageUrl} />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section
  class="max-w-screen-xl mx-4 md:mx-auto rounded-xl overflow-hidden mt-6"
>
  <div class="swiper thumberSwiper">
    <div class="swiper-wrapper">
      {
        SLIDERS.map((slider) => (
          <div class="swiper-slide rounded-xl overflow-hidden">
            <img src={slider.imageUrl} class="cursor-pointer" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
import Swiper from 'swiper'
import { Autoplay, Thumbs, FreeMode } from 'swiper/modules'
import 'swiper/css'

const thumberSwiper = new Swiper('.thumberSwiper', {
  modules: [FreeMode],
  spaceBetween: 10,
  slidesPerView: 3,
  freeMode: true,
  watchSlidesProgress: true
})

const mainSwiper = new Swiper('.mainSwiper', {
  modules: [Autoplay, Thumbs],
  loop: true,
  spaceBetween: 10,
  autoplay: {
    delay: 10000
  },
  thumbs: {
    swiper: thumberSwiper
  }
})

mainSwiper.init()
thumberSwiper.init()
</script>

<style>
  .swiper {
    width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 768px) {
    .swiper {
      height: 60vh;
    }
  }

  .swiper-slide video,
  .swiper-slide img,
  .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f1eeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumberSwiper {
    height: 12rem;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .thumberSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .thumberSwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
