---
import Icon from '@src/components/Icon.component.astro'
import { ModalSearch, CartButton } from '@src/components/react';
---

<header
  class="header-animate backdrop-blur-[10px] md:backdrop-blur-0 w-full mb-10 overflow-hidden z-[10] py-8"
>
  <div
    class="grid items-center justify-center md:justify-normal w-full grid-cols-[auto_1fr] mx-auto text-commerce-950 gap-x-10 md:flex max-w-screen-base"
  >
    <div class="md:flex-grow md:basis-0 flex justify-start">
      <a
        href="/"
        class="ml-4 flex items-end gap-2.5 transition-transform duration-300 hover:scale-110"
        title="Ir a la página principal"
        aria-label="Ir a la página principal"
      >
        <h1 class="font-bold text-base md:text-2xl">
          Servidorperu Network S.A.C.
        </h1>
      </a>
    </div>

    <nav
      id="header-navbar"
      class="col-span-full overflow-x-auto row-[2/3] grid grid-rows-[0fr] transition-[grid-template-rows] data-[open]:grid-rows-[1fr] md:justify-center md:flex group/nav"
    >
      <ul
        class="flex flex-col items-center overflow-x-auto overflow-y-hidden md:overflow-hidden md:flex-row"
      >
        <li
          class="flex justify-center w-full first:mt-5 md:first:mt-0 md:block md:w-auto"
        >
          <CartButton client:visible />
        </li>

        <li
          class="flex justify-center w-full first:mt-5 md:first:mt-0 md:block md:w-auto"
        >
          <ModalSearch client:visible />
        </li>
      </ul>
    </nav>

    <div
      class="flex md:flex-grow md:basis-0 items-center gap-4 mr-4 ml-auto md:ml-0 justify-end"
    >
      <a
        href="/shop"
        class="ml-auto bg-button text-white font-bold shadow-button hover:shadow-button-hover hover:scale-110 items-center cursor-pointer gap-2 rounded-lg px-3 py-[10px] transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed hidden md:flex"
        title="Compra en la tienda"
        aria-label="Compra en la tienda"
      >
        <Icon name={'shop-location'} />
        Tienda
      </a>

      <ul class="flex items-center gap-4 md:flex-row md:items-center md:gap-1">
        <li class="md:hidden block">
          <a href="/shop" class="md:hidden block">
            <Icon name="shop-location" />
          </a>
        </li>
        <li class="md:hidden block">
          <CartButton client:visible />
        </li>

        <li class="md:hidden block">
          <ModalSearch client:visible />
        </li>
      </ul>
    </div>
  </div>
</header>

<style>
  .header-animate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  @keyframes reduce-header {
    to {
      box-shadow:
        0 5px 50px -5px rgba(0, 99, 255, 0.1),
        0 0 0 1px rgba(0, 140, 255, 0.1);
      background: rgba(167, 225, 255, 0.3);
      padding-block: 1rem;
      backdrop-filter: blur(10px);
    }
  }
</style>
